{% extends "base.html" %}
{% load material_form %}

{% block title %}Tableau Dashboard{% endblock %}

{% block content %}
<br>
<div class="row">
  <h1 class="header center black-text">About Us</h1>
  <!-- SUP!!!! THIS IS A SECRET MESSAGE-->
</div>
<div class="container">
	<div class="row">

	  <p>We are a team of college students working to make the world of day trading easier. The object of this web app its to socially hack the stock exchanges. We use Twitter, trending articles, and a myriad of data analytics to socially hack the stocks. Here's to simplicity.</p>
	  <p>Exchange Hack was born at Hack the North, a 24-hour hackathon in Canada. Parker Williams and Ali Wilkin began developing the skeleton for what using machine learning to predict stock prices would look like. The students who worked on this idea decided to continue working on the idea as their capstone project, because as one of our members once said, "This is cool shiz." </p>

	</div>
</div>

{% endblock %}
