{% extends "base.html" %}
{% load material_form %}
{% load staticfiles %}

{% block head %}
  <script src="{% static 'analysis/tweet.js' %}"></script>
{% endblock %}

{% block title %}Tweet{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 class="header center black-text">Analyze your tweet.</h1>
    <h5 class="center italic grey-text">Go ahead and write whatever tweet you're thinking of posting, and we'll analyze what kind of an impact your tweet will have on the stock market.</h5>
  </div>
</div>
<div class="row">
  <form method="POST" class="col s6 offset-s3">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <div id="characterCount" style="text-align: right"></div>
    <br>
    <div class="row center">
      <div class="col s6 offset-s3">
        <button id="submit-button" class="btn waves-effect waves-light" type="submit" name="action" onclick="loadData()">Submit Tweet</button>
        <div id="load" class="progress">
           <div class="indeterminate"></div>
       </div>
      </div>
    </div>
    <br>
</form>
</div>
{% endblock %}
