/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo {
	font-size: 1.3em;
}

.break {
	height: 40px;
}

.btn {
	width: 100%;
}

.header {
	font-weight: 600;
}