{% extends "base.html" %}

{% block content %}

        <div class="row">
            <div class="col s12 m4">
                <div class="card medium">
                    <div class="card-content card-content-top">
                        <p><span class="kpi kpi-green">0.89</span><span class="kpi-green kpi-subtext">/1.0</span></p>
                        <p><span class="kpi-green kpi-desc">AVERAGE TWEET SENTIMENT</span></p>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator blue-text accent-3">view details</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title black-text">Details: <i class="material-icons right">close</i></span>
                        <p>This score can range from -1 to 1. The closer this average sentiment is 1.0, the more positive the tweet was. If the sentiment is closer to -1.0, the tweet was more negative.</p>
                    </div>
                </div>
            </div> <!-- end of column 1 -->

            <div class="col s12 m4">
                <div class="card medium">
                    <div class="card-content card-content-top">
                        <p><span class="kpi kpi-green" id="tweetCount"></span></p>
                        <p><span class="kpi-green kpi-desc">TWEETS BEING ANALYZED</span></p>
                        <div class="menu-button">
                            <a class="waves-effect waves-light btn-flat indigo darken-4 white-text center-align right" action="/startTrack/" method="POST" id="trackStocks">Track Stocks</a>
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator blue-text accent-3">view details</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title black-text">Target: 43k Tweets<i class="material-icons right">close</i></span>
                    </div>
                </div>
            </div> <!-- end of column 2 -->

            <div class="col s12 m4">
                <div class="card medium">
                    <div class="card-content card-content-top">
                        <p><span class="kpi-yellow kpi-subtext">$</span><span class="kpi kpi-yellow">72.87</span></p>
                        <p><span class="kpi-yellow kpi-desc">LAST TRADE</span></p>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator blue-text accent-3">view details</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title yellow-text">Target: $79.32<i class="material-icons right">close</i></span>
                        <div class="row">
                            <div class="col s6">
                                <p>A YEAR AGO: </p>
                            </div>
                            <div class="col s6">
                                <p>$80.32</p>
                            </div>
                        </div> <!-- 1 yrs -->
                        <div class="row">
                            <div class="col s6">
                                <p>2 YEARS AGO: </p>
                            </div>
                            <div class="col s6">
                                <p>$78.32 </p>
                            </div>
                        </div> <!-- 2 yrs -->
                        <div class="row">
                            <div class="col s6">
                                <p>3 YEARS AGO: </p>
                            </div>
                            <div class="col s6">
                                <p>$75.90 </p>
                            </div>
                        </div> <!-- 3 yrs -->
                    </div>
                </div>
            </div> <!-- end of column 3 -->
        </row> <!-- end of row 1-->

        <!--<div class="row">
            <div class="col s8">
                <div id="followersViz"></div>
                <div id="colorViz"></div>
            </div>

            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <p><span class="kpi-blue kpi-desc">Apple</span></p>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Revenue</span>
                            <span class="kpi kpi-green kpi-desc">  $482.13 BIL</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Sentiment</span>
                            <span class="kpi kpi-green kpi-desc pull-right"> .94</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Price Change</span>
                            <span class="kpi kpi-green kpi-desc pull-right"><i class="small material-icons"> navigation</i>+0.01</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p><span class="kpi-blue kpi-desc">Walmart</span></p>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Revenue</span>
                            <span class="kpi kpi-green kpi-desc">  $153.73 BIL</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Sentiment</span>
                            <span class="kpi kpi-green kpi-desc pull-right"> .56</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Price Change</span>
                            <span class="kpi kpi-green kpi-desc pull-right"><i class="small material-icons"> navigation</i>+0.67</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p><span class="kpi-blue kpi-desc">Google</span></p>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Revenue</span>
                            <span class="kpi kpi-green kpi-desc">  $315.85 BIL</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Sentiment</span>
                            <span class="kpi kpi-green kpi-desc pull-right"> .73</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Price Change</span>
                            <span class="kpi kpi-green kpi-desc pull-right"><i class="small material-icons"> navigation</i>+0.37</span>
                        </div>
                    </div>
                </div>
            </div> <!-- end of row 2
        </div> -->
{% endblock %}
