{% load staticfiles %}
{% load static %}

<html>
    <head>
        <!--Import materialize.css -->
        <link type="text/css" rel="stylesheet" href="{% static 'smh2/css/materialize.min.css' %}" media="screen,projection" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import custom css-->
        <link type="text/css" rel="stylesheet" href="{% static 'smh2/css/style.css' %}" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>Exchange Hack</title>
        <meta name="description" content="Dashboard for Exchange Hack">
        <meta name="author" content="ali wilkin, parker williams">
    </head>

    <body onload="initViz(); initViz2();">
        <nav class="top-nav">
            <!-- <div class="container"> -->
                <div class="nav-wrapper">
                    <a class="page-title left">Exchange Hack</a>
                    <div class="menu-button">
                        <a class="waves-effect waves-light btn-flat indigo darken-4 white-text center-align right" action="/startTrack/" method="POST" id="trackStocks">Track Stocks</a>
                    </div>
                </div> <!-- nav-wrapper -->
            <!-- </div>  <! container -->
        </nav>

        <div class="row">
            <div class="col s12 m4">
                <div class="card medium">
                    <div class="card-content card-content-top">
                        <p><span class="kpi kpi-green">0.89</span><span class="kpi-green kpi-subtext">/1.0</span></p>
                        <p><span class="kpi-green kpi-desc">AVERAGE TWEET SENTIMENT</span></p>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator blue-text accent-3">view details</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title black-text">Details: <i class="material-icons right">close</i></span>
                        <p>This score can range from -1 to 1. The closer this average sentiment is 1.0, the more positive the tweet was. If the sentiment is closer to -1.0, the tweet was more negative.</p>
                    </div>
                </div>
            </div> <!-- end of column 1 -->

            <div class="col s12 m4">
                <div class="card medium">
                    <div class="card-content card-content-top">
                        <p><span class="kpi kpi-green" id="tweetCount"></span></p>
                        <p><span class="kpi-green kpi-desc">TWEETS BEING ANALYZED</span></p>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator blue-text accent-3">view details</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title black-text">Target: 43k Tweets<i class="material-icons right">close</i></span>
                    </div>
                </div>
            </div> <!-- end of column 2 -->

            <div class="col s12 m4">
                <div class="card medium">
                    <div class="card-content card-content-top">
                        <p><span class="kpi-yellow kpi-subtext">$</span><span class="kpi kpi-yellow">72.87</span></p>
                        <p><span class="kpi-yellow kpi-desc">LAST TRADE</span></p>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator blue-text accent-3">view details</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title yellow-text">Target: $79.32<i class="material-icons right">close</i></span>
                        <div class="row">
                            <div class="col s6">
                                <p>A YEAR AGO: </p>
                            </div>
                            <div class="col s6">
                                <p>$80.32</p>
                            </div>
                        </div> <!-- 1 yrs -->
                        <div class="row">
                            <div class="col s6">
                                <p>2 YEARS AGO: </p>
                            </div>
                            <div class="col s6">
                                <p>$78.32 </p>
                            </div>
                        </div> <!-- 2 yrs -->
                        <div class="row">
                            <div class="col s6">
                                <p>3 YEARS AGO: </p>
                            </div>
                            <div class="col s6">
                                <p>$75.90 </p>
                            </div>
                        </div> <!-- 3 yrs -->
                    </div>
                </div>
            </div> <!-- end of column 3 -->
        </row> <!-- end of row 1-->

        <div class="row">
            <div class="col s8">
                <div id="followersViz"></div>
                <div id="colorViz"></div>
            </div>

            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <p><span class="kpi-blue kpi-desc">Apple</span></p>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Revenue</span>
                            <span class="kpi kpi-green kpi-desc">  $482.13 BIL</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Sentiment</span>
                            <span class="kpi kpi-green kpi-desc pull-right"> .94</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Price Change</span>
                            <span class="kpi kpi-green kpi-desc pull-right"><i class="small material-icons"> navigation</i>+0.01</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p><span class="kpi-blue kpi-desc">Walmart</span></p>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Revenue</span>
                            <span class="kpi kpi-green kpi-desc">  $153.73 BIL</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Sentiment</span>
                            <span class="kpi kpi-green kpi-desc pull-right"> .56</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Price Change</span>
                            <span class="kpi kpi-green kpi-desc pull-right"><i class="small material-icons"> navigation</i>+0.67</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p><span class="kpi-blue kpi-desc">Google</span></p>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Revenue</span>
                            <span class="kpi kpi-green kpi-desc">  $315.85 BIL</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Sentiment</span>
                            <span class="kpi kpi-green kpi-desc pull-right"> .73</span>
                        </div>
                        <div class="row">
                            <span class="kpi-blue-details blue-text accent-3">Price Change</span>
                            <span class="kpi kpi-green kpi-desc pull-right"><i class="small material-icons"> navigation</i>+0.37</span>
                        </div>
                    </div>
                </div>
            </div> <!-- end of row 2-->
        </div>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">The basics: We collect and analyze data to discover trends in social media #hashtags and the stock market. We're hoping that we can discover a correlation in the process, so that stock market prices could possibly be predicted in turn. </p>
              </div>
              <!-- <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                © 2016 WWLaBS, All rights reserved.
            </div>
          </div>
        </footer>
        {% block footer %}
            <!--Import jQuery before materialize.js-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'smh2/js/materialize.min.js' %}"></script>
            <!--Firebase app scripts-->
            <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
            <script type="text/javascript" src="{% static 'smh2/js/trackstocks.js' %}"></script>
            <script type="text/javascript" src="{% static 'smh2/js/firebase.js' %}"></script>
            <!--Tableau script-->
            <script type="text/javascript" src="{% static 'smh2/js/tableau.js' %}"></script>
            <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>

        {% endblock %}
    </body>
</html>
