{% extends "base.html" %}
{% load material_form %}

{% block title %}User Login{% endblock %}

{% block content %}
<br>
<div class="row">
  <form method="POST" class="col s6 offset-s3">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <br>
    <div class="row center">
      <div class="col s6 offset-s3">
        <button class="btn waves-effect waves-light" type="submit" name="action">login</button>
      </div>
    </div>
    <br>
    <div class="row center">
      <a class="grey-text">forgot password?</a>
    </div>
</form>
</div>
{% endblock %}
