nav a {
    color:#fff;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.top-nav {
    background-color: #283593;
}

.page-title {
    font-size: 2em;
    padding-left: 70px;
}

.card-title {
    font-size: 26em;
}

.card-content-top {
    height:200px;
}

.kpi {
    font-size: 7em;
}

.kpi-green {
    color: #76ff03;
}

.green {
    color: #76ff03;
}

.kpi-red {
    color: #f44336;
}

.kpi-blue {
    color: #283593;
}

.kpi-blue-details {
    font-size: 24px;
    font-weight: 300;
}

.kpi-yellow {
    color: #fdd835;
}

.kpi-subtext {
    font-size: 3em;
}

.kpi-subtext-full {
    font-size: 3em;
}

.kpi-desc {
    font-size: 1.7em;
    line-height: 18px;
}

.card-reveal > .row {
    line-height:0px;
}

.card-title {
    color: #76ff03;
}

.menu-button {
    padding-top: 15px;
    padding-right: 40px;
}

.company_details > col {
    padding: 0; !important
}

footer.page-footer {
    background-color: #b0bec5;
}

.header {
    font-weight: 600;
}